header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header img {
  max-width: 100%;
  height: auto;
}
header .topbar {
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: right;
  padding-right: var(--space-m);
}
