nav {
  background-color: var(--color-dark);
  width: 100%;
  padding: 0 var(--space-xl)
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: var(--space-m) 0;
}
nav ul li {
  display: inline-block;
  margin: 0 var(--space-xs);
}
nav ul li a {
  color: var(--color-light);
}

@media (max-width: 50rem) {
  nav ul {
    display: grid;
  }
}

